<style>
    .content-wrapper {
      margin-left: 0;
      background: #271F30;
      color: white;
      text-align: center;
      padding-left: 0;
    }

    .main-footer {
      background: #271F30;
      border: 1px solid black;
      color: white;
    }
</style>
<div class="main-page">
  <p id="notice"><%= notice %></p>
  <img class="crazy-hammock" src="<%= asset_path "hammock.svg" %> " style="width: 200px;">

  <h1>Hammockapp</h1>
  <p>Hey<%if current_user %> <%=current_user.first_name%><%end %>! Willkommen bei der HammockApp!</p>
  <p>Du kannst direkt auf die <%= link_to 'Karte zugreifen', controller: 'sites' %> oder ein bisschen in den  <%= link_to 'Reviews stöbern', controller: 'reviews' %>.</p>


  <h3>Was würdest du gerne tun?</h3>
  <% if current_user %>
    <%= link_to "Log Out", logout_path, class: "btn btn-primary"%>
  <%else %>
    <%= link_to "Sign Up", signup_path , class: "btn btn-primary"%>
    <%= link_to "Log In", login_path , class: "btn btn-primary"%>
  <% end %>
  <%= link_to "Karte anschauen", {controller: 'sites'}, class: "btn btn-primary"%>
</div>